; vim: et ts=4 sw=4
[core]
    editor = vim 
[push]
    default = upstream
[user]
    name = Ícaro Ponce
    email = ponceicaro@gmail.com
[color]
    ui = auto
[color "status"]
    untracked = cyan
[github]
    user = icaroponce
[merge]
    tool = vimdiff
[alias]
    summary = !~/bin/git-summary
    sall  = summary --all
    safe-push = !/home/renato/bin/git-safe-push
