! Xcursor --------------------------------------------------
!Xcursor.theme: Vanilla-DMZ-AA
!Xcursor.size:  24
!! Xft settings ----------------------------------------------
Xft.dpi: 120
!Xft.autohint: 0
!Xft.lcdfilter:  lcddefault
!Xft.hintstyle:  hintfull
!Xft.hinting: 1
!Xft.antialias: 1
!Xft.rgba: rgb


!#include ".Xresources.d/themes/solarized-dark"
#include ".Xresources.d/themes/gruvbox"

#include ".Xresources.d/colors"
#include ".Xresources.d/urxvt"
